h1 {
  transition: 0.5s ease-in-out;
  -webkit-transition: 0.5s ease-in-out;
  -moz-transition: 0.5s ease-in-out;
  -o-transition: 0.5s ease-in-out;
  color: #00cca3;
  font-size: 42px;
}
@media (max-width: 980px) {
  h1 {
    font-size: 32px;
  }
}
@media (max-width: 476px) {
  h1 {
    font-size: 24px;
  }
}

h2 {
  z-index: 999;
  transition: 0.5s ease-in-out;
  -webkit-transition: 0.5s ease-in-out;
  -moz-transition: 0.5s ease-in-out;
  -o-transition: 0.5s ease-in-out;
  color: #00cca3;
  font-size: 34px;
}
@media (max-width: 980px) {
  h2 {
    font-size: 24px;
  }
}
@media (max-width: 476px) {
  h2 {
    font-size: 18px;
  }
}

h3 {
  transition: 0.5s ease-in-out;
  -webkit-transition: 0.5s ease-in-out;
  -moz-transition: 0.5s ease-in-out;
  -o-transition: 0.5s ease-in-out;
  color: #00cca3;
  font-size: 22px;
}
@media (max-width: 980px) {
  h3 {
    font-size: 18px;
  }
}
@media (max-width: 476px) {
  h3 {
    font-size: 14px;
  }
}

h4 {
  transition: 0.5s ease-in-out;
  -webkit-transition: 0.5s ease-in-out;
  -moz-transition: 0.5s ease-in-out;
  -o-transition: 0.5s ease-in-out;
  color: #00cca3;
  font-size: 18px;
}
@media (max-width: 980px) {
  h4 {
    font-size: 14px;
  }
}
@media (max-width: 476px) {
  h4 {
    font-size: 12px;
  }
}

input::placeholder {
  color: #00cca3;
}

:focus {
  outline: none;
}

p {
  transition: 0.5s ease-in-out;
  -webkit-transition: 0.5s ease-in-out;
  -moz-transition: 0.5s ease-in-out;
  -o-transition: 0.5s ease-in-out;
  z-index: 999;
  line-height: 1.5;
  font-size: 16px;
  color: #00cca3;
}
@media (max-width: 980px) {
  p {
    font-size: 14px;
  }
}
@media (max-width: 476px) {
  p {
    font-size: 12px;
  }
}

a {
  color: #fff;
  text-decoration: none;
  -webkit-transition: 0.2s ease-in-out;
  -moz-transition: 0.2s ease-in-out;
  -o-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
}

a:hover {
  color: #00cca3;
  -webkit-transition: 0.2s ease-in-out;
  -moz-transition: 0.2s ease-in-out;
  -o-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
}

#registration #right-column, #registration #left-column {
  display: flex;
  float: left;
  height: 100%;
  background-size: cover;
  background-position: center;
  vertical-align: top;
}

#registration, #login, #account #double-box-container, #account #double-section-container #right-section .right-section-box-container .right-section-box, #account #double-section-container #right-section .right-section-box-container, #account #double-section-container, #admin #admin-box-container, #admin #admin-sideMenu #admin-side-menu .side-menu-link-container a, #admin #admin-sideMenu, #create-task .creation-container .inside-modal .right-column, #create-task .creation-container .inside-modal .left-column, #create-task .creation-container .inside-modal, #create-task .creation-container .creation-modal, #create-task .creation-container, #create-task #checkbox-form .left-column .circle-container, #create-task #checkbox-form .left-column, #create-task #checkbox-form .right-column .right-container, #create-task, #view-friend-container #view-friend #friend-information-container #friend-inner-container #friend-information-right, #view-friend-container #view-friend #friend-information-container #friend-inner-container #friend-information-left, #view-friend-container #view-friend #friend-information-container #friend-inner-container, #view-friend-container #view-friend #friend-information-container, #view-friend-container, #spaces #all-spaces, #create-space .create-space-box-container .modal .friend-container, #create-space, .top-bar .top-bar-link-container a {
  display: flex;
  justify-content: center;
  align-items: center;
}

#registration #right-column input, #login #loginForm input, #create-task #checkbox-form .right-column .right-container input, #create-space .form-container #challengers-button, #create-space input {
  margin: 15px auto 15px auto;
  box-shadow: 0 0 3px 0 #00cca3;
  color: #00cca3;
  box-sizing: border-box;
  width: 80%;
  display: block;
  padding: 20px;
  border-radius: 40px;
  border: none;
  font-size: 16px;
}

#account #double-section-container #right-section, #account #double-section-container #left-section {
  display: inline-block;
  height: 100%;
  padding: 20px;
  box-sizing: border-box;
  background-color: #fff;
}

.navbar-dark, .navbar {
  background-color: transparent;
  text-align: center;
  padding: 20px 0;
  z-index: 999;
}

#account .account-box {
  display: inline-block;
  width: 45%;
  box-sizing: border-box;
  padding: 20px;
  text-align: center;
  box-shadow: 0 0 3px 0 #00cca3;
  margin: 20px;
  background-color: #fff;
}

#registration #right-column button, #login #loginForm button, button {
  cursor: pointer;
  width: 50%;
  margin: 50px auto 0 auto;
  color: #fff;
  background-color: #00cca3;
  box-sizing: border-box;
  display: block;
  padding: 20px;
  border-radius: 40px;
  border: none;
  font-size: 16px;
}

#admin .boxes {
  height: 50%;
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 40px;
  box-sizing: border-box;
}

#account .account-box .overlay-transition, #admin #admin-sideMenu #admin-side-menu .side-menu-link-container .overlay-transition, #admin .boxes .overlay-transition {
  position: absolute;
  transition: 0.5s ease-in-out;
  width: 0;
  height: 100%;
  background-color: #00cca3;
}

#account, #admin, #create-space {
  position: fixed;
  z-index: -1;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-size: cover;
}

.error-div {
  width: 50%;
  text-align: center;
  margin: 0 auto;
  padding-top: 15px;
}
@media (max-width: 980px) {
  .error-div {
    width: 100%;
  }
}
.error-div p {
  color: #00cca3;
  margin: 0;
}

.overlay {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: #000;
  opacity: 0.5;
  z-index: -1;
}

.navbar #avatar_icon {
  color: #00cca3;
  font-size: 30px;
  margin-bottom: -5px;
}
.navbar #avatar_not_logged_in {
  color: #740e17;
  font-size: 30px;
  margin-bottom: -5px;
}
.navbar .link-item {
  display: inline-block;
  padding: 0 20px;
}
.navbar .link-item a {
  color: #fff;
  text-decoration: none;
  font-weight: 700;
}
.navbar .link-item a:hover {
  color: #00cca3;
  -webkit-transition: 0.2s ease-in-out;
  -moz-transition: 0.2s ease-in-out;
  -o-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
}

.spinner-container {
  position: fixed;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  background: black;
  opacity: 0.2;
}
.spinner-container .spinner {
  position: absolute;
  left: 50%;
  top: 50%;
  height: 60px;
  width: 60px;
  margin: 0px auto;
  -webkit-animation: rotation 0.6s infinite linear;
  -moz-animation: rotation 0.6s infinite linear;
  -o-animation: rotation 0.6s infinite linear;
  animation: rotation 0.6s infinite linear;
  border-left: 6px solid rgba(0, 174, 239, 0.15);
  border-right: 6px solid rgba(0, 174, 239, 0.15);
  border-bottom: 6px solid rgba(0, 174, 239, 0.15);
  border-top: 6px solid rgba(0, 174, 239, 0.8);
  border-radius: 100%;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(359deg);
  }
}
.selected-task-modal {
  position: fixed;
  height: 100%;
  width: 100%;
  background: black;
  top: 0;
  left: 0;
}

.navbar-dark {
  background: #fff;
}
.navbar-dark #avatar_icon {
  color: #00cca3;
  font-size: 30px;
  margin-bottom: -5px;
}
.navbar-dark #avatar_icon #avatar_not_logged_in {
  color: #740e17;
  font-size: 30px;
  margin-bottom: -5px;
}
.navbar-dark .link-item {
  display: inline-block;
  padding: 0 20px;
}
.navbar-dark .link-item a {
  color: #00cca3;
  text-decoration: none;
  font-weight: 700;
}
.navbar-dark .link-item a:hover {
  color: #740e17;
  -webkit-transition: 0.2s ease-in-out;
  -moz-transition: 0.2s ease-in-out;
  -o-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
}

.top-bar {
  height: 15%;
  background-color: #00cca3;
}
.top-bar .top-bar-link-container {
  display: inline-block;
  width: 50%;
  height: 100%;
}
.top-bar .top-bar-link-container a {
  height: 100%;
  width: 100%;
}

#create-space {
  background: url("./images/deer-3219872_1920.jpg") center no-repeat;
  background-size: cover;
}
#create-space .create-space-box-container {
  padding: 0 40px;
  margin-top: 150px;
}
#create-space .create-space-box-container .space-creation-container {
  display: flex;
  justify-content: space-evenly;
}
#create-space .create-space-box-container .modal {
  display: inline-block;
  width: 45%;
  height: 100%;
  vertical-align: top;
  margin-top: 50px;
  box-sizing: border-box;
}
#create-space .create-space-box-container .modal button {
  background-color: #00cca3;
  margin-bottom: 10px;
  color: #fff;
}
#create-space .create-space-box-container .modal .friend-container {
  position: relative;
  height: 100%;
  width: 100%;
  padding: 20px;
  box-sizing: border-box;
}
#create-space .create-space-box-container .modal .friend-container label {
  color: #00cca3;
}
#create-space .create-space-box-container .modal .friend-container input {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 999;
  margin: 0;
  border-radius: 0;
  opacity: 0;
}
#create-space .create-space-box-container .modal .checked-friend {
  background-color: #00cca3;
}
#create-space .create-space-box-container .modal .checked-friend label {
  color: #fff;
}
#create-space input {
  margin: 25px auto 25px auto;
}
#create-space .form-container {
  width: 45%;
  box-shadow: 0 0 1px 0 #00cca3;
  padding: 30px 0;
  margin-top: 50px;
  display: inline-block;
}
#create-space .form-container #challengers-button {
  color: #00cca3;
  background-color: #fff;
}
#create-space .form-container button {
  width: 80%;
}
#create-space .create-space-box {
  height: 80%;
  width: 80%;
  background: #fff;
  max-width: 1200px;
}

#spaces #all-spaces {
  flex-wrap: wrap;
  justify-content: space-evenly;
  padding: 0 5%;
}
#spaces #all-spaces .space-card {
  height: 500px;
  width: 500px;
}
#spaces #all-spaces .space-card .space-card-image {
  width: 100%;
  height: 40%;
  background: url("./images/small-poly-3350169_1920.jpg") center no-repeat;
}
#spaces #all-spaces .space-card .space-card-text-container {
  padding: 5%;
}
#spaces #all-spaces .space-card .space-card-text-container .space-card-text-inner h3 {
  text-align: center;
}
#spaces #all-spaces .space-card .space-card-text-container .space-card-text-inner span {
  color: #00cca3;
}
#spaces #all-spaces .space-card .space-card-text-container .space-card-text-inner .member-name {
  padding-right: 10px;
  display: inline-block;
}

#view-friend-container {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: url("./images/small-poly-3350169_1920.jpg") center no-repeat;
  background-size: cover;
}
#view-friend-container #view-friend {
  height: 80%;
  width: 80%;
  background-color: #fff;
}
#view-friend-container #view-friend #friend-information-container {
  height: 200px;
  margin: 50px auto 0 auto;
  border-bottom: 1px solid #00cca3;
  border-radius: 10px;
  width: 80%;
  padding-bottom: 50px;
}
#view-friend-container #view-friend #friend-information-container #friend-inner-container {
  width: 50%;
  height: 100%;
}
#view-friend-container #view-friend #friend-information-container #friend-inner-container #friend-information-left {
  width: 50%;
  height: 100%;
}
#view-friend-container #view-friend #friend-information-container #friend-inner-container #friend-information-left #friend-image {
  width: 160px;
  height: 160px;
  border-radius: 400px;
  background: url("./images/cevin.JPG") center no-repeat;
  background-size: cover;
}
#view-friend-container #view-friend #friend-information-container #friend-inner-container #friend-information-right {
  height: 100%;
  width: 50%;
  padding: 20px;
  box-sizing: border-box;
}
#view-friend-container #view-friend #friend-information-container #friend-inner-container #friend-information-right #friend-details {
  width: 100%;
  text-align: center;
}
#view-friend-container #view-friend #friend-information-container #friend-inner-container #friend-information-right #friend-details button {
  width: 100%;
  margin: 0 auto;
}
#view-friend-container #view-friend #friend-back {
  border-radius: 0;
  margin: -58px 0 0 0;
  width: 20%;
  position: relative;
  z-index: 999;
  transition: 0.5s ease-in-out;
}
#view-friend-container #view-friend #friend-back:hover {
  transition: 0.5s ease-in-out;
  color: #00cca3;
}
#view-friend-container #view-friend #friend-back:hover:before {
  width: 100%;
}
#view-friend-container #view-friend #friend-back:before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 0;
  height: 100%;
  background-color: #fff;
  transition: 0.5s ease-in-out;
  z-index: -1;
}
#view-friend-container #view-friend #main-heading {
  text-align: center;
  border-bottom: 1px solid #00cca3;
  width: 80%;
  margin: 40px auto auto auto;
}

#create-task {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}
#create-task #checkbox-form {
  height: 80%;
  width: 80%;
  z-index: -1;
  position: relative;
}
#create-task #checkbox-form #start-over {
  margin: 0;
  height: 100px;
  width: 20%;
  border-radius: 0;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 999;
}
#create-task #checkbox-form .right-column {
  height: 50%;
  width: 100%;
  background: #00cca3;
}
#create-task #checkbox-form .right-column .right-container {
  width: 50%;
  height: 100%;
  vertical-align: top;
  float: left;
  flex-wrap: wrap;
}
#create-task #checkbox-form .right-column .right-container .task-form {
  width: 100%;
  margin-top: -150px;
}
#create-task #checkbox-form .right-column .right-container .task-form-heading {
  width: 100%;
  text-align: center;
}
#create-task #checkbox-form .right-column h2, #create-task #checkbox-form .right-column h3 {
  margin: 0;
  color: #fff;
}
#create-task #checkbox-form .right-column p {
  color: #fff;
}
#create-task #checkbox-form .right-column button {
  background: #fff;
  color: #00cca3;
}
#create-task #checkbox-form .left-column {
  height: 50%;
  width: 100%;
  background: url("./images/the-polygon-1562743_1280.jpg") center no-repeat;
  position: relative;
  flex-wrap: wrap;
  background-size: cover;
}
#create-task #checkbox-form .left-column > div {
  width: 100%;
  display: block;
  text-align: center;
  margin-top: 50px;
}
#create-task #checkbox-form .left-column .circle-container {
  width: 100%;
}
#create-task #checkbox-form .left-column .circle-icon {
  width: calc(28% / 3);
  height: 100px;
  display: inline-block;
  border-radius: 400px;
}
#create-task #checkbox-form .left-column .circle-icon svg {
  width: 100%;
  height: 50%;
  z-index: 999;
  color: #fff;
}
#create-task #checkbox-form .left-column .circle-icon .circle-heading-container {
  text-align: center;
}
#create-task #checkbox-form .left-column h2 {
  margin: 0;
}
#create-task .creation-container {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
}
#create-task .creation-container .creation-modal {
  height: 80%;
  width: 80%;
}
#create-task .creation-container .inside-modal {
  width: 80%;
  height: 80%;
  background: white;
  flex-wrap: wrap;
}
#create-task .creation-container .inside-modal .left-column {
  width: 100%;
}
#create-task .creation-container .inside-modal .right-column {
  width: 100%;
  flex-wrap: wrap;
}
#create-task .creation-container .inside-modal .right-column .right-heading {
  width: 100%;
}
#create-task .creation-container .inside-modal .right-column .right-column-form {
  width: 100%;
}
#create-task .creation-container .inside-modal h2 {
  text-align: center;
}

#admin {
  background: url("./images/low-poly-3614652_1920.jpg") center no-repeat;
  background-size: cover;
}
#admin h2 {
  transition: 0.5s ease-in-out;
  -webkit-transition: 0.5s ease-in-out;
  -moz-transition: 0.5s ease-in-out;
  -o-transition: 0.5s ease-in-out;
}
#admin p {
  transition: 0.5s ease-in-out;
  -webkit-transition: 0.5s ease-in-out;
  -moz-transition: 0.5s ease-in-out;
  -o-transition: 0.5s ease-in-out;
}
#admin .boxes {
  position: relative;
  transition: 0.5s ease-in-out;
  -webkit-transition: 0.5s ease-in-out;
  -moz-transition: 0.5s ease-in-out;
  -o-transition: 0.5s ease-in-out;
}
@media (max-width: 767px) {
  #admin .boxes {
    height: 25%;
    width: 100%;
  }
}
#admin .boxes .box-container {
  z-index: 999;
}
#admin .boxes:hover .overlay-transition {
  width: 100%;
  transition: 0.5s ease-in-out;
  -webkit-transition: 0.5s ease-in-out;
  -moz-transition: 0.5s ease-in-out;
  -o-transition: 0.5s ease-in-out;
}
#admin .boxes:hover h2 {
  transition: 0.5s ease-in-out;
  -webkit-transition: 0.5s ease-in-out;
  -moz-transition: 0.5s ease-in-out;
  -o-transition: 0.5s ease-in-out;
  color: #fff;
}
#admin .boxes:hover p {
  transition: 0.5s ease-in-out;
  -webkit-transition: 0.5s ease-in-out;
  -moz-transition: 0.5s ease-in-out;
  -o-transition: 0.5s ease-in-out;
  color: #fff;
}
#admin #admin-sideMenu {
  height: 80%;
  width: 10%;
  background-color: #00cca3;
}
@media (max-width: 767px) {
  #admin #admin-sideMenu {
    position: absolute;
    top: 92px;
    width: 80%;
    height: 3%;
  }
}
#admin #admin-sideMenu #admin-side-menu {
  height: 100%;
  width: 100%;
}
#admin #admin-sideMenu #admin-side-menu .side-menu-link-container {
  display: flex;
  width: 100%;
  text-align: center;
  height: 50%;
  position: relative;
}
@media (max-width: 767px) {
  #admin #admin-sideMenu #admin-side-menu .side-menu-link-container {
    display: inline-block;
    width: 50%;
    height: 100%;
    z-index: 999999;
  }
}
#admin #admin-sideMenu #admin-side-menu .side-menu-link-container:hover a {
  color: #00cca3;
}
#admin #admin-sideMenu #admin-side-menu .side-menu-link-container:hover .overlay-transition {
  width: 100%;
}
#admin #admin-sideMenu #admin-side-menu .side-menu-link-container .overlay-transition {
  background-color: #fff;
  left: 0;
}
@media (max-width: 767px) {
  #admin #admin-sideMenu #admin-side-menu .side-menu-link-container .overlay-transition {
    z-index: -1;
  }
}
#admin #admin-sideMenu #admin-side-menu .side-menu-link-container a {
  width: 100%;
  z-index: 999;
}
@media (max-width: 767px) {
  #admin #admin-sideMenu #admin-side-menu .side-menu-link-container a {
    height: 100%;
  }
}
#admin #admin-sideMenu #admin-side-menu .side-menu-link-container a:hover {
  color: #00cca3;
}
#admin #admin-box-container {
  width: 80%;
  height: 80%;
  max-width: 1200px;
  background: #fff;
  flex-flow: wrap;
}
#admin #admin-box-container .admin-box-link {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  z-index: 999;
}
#admin #admin-box-container #admin-overlay-one {
  left: 0;
}
#admin #admin-box-container #admin-overlay-two {
  right: 0;
}
#admin #admin-box-container #admin-overlay-three {
  left: 0;
}
#admin #admin-box-container #admin-overlay-four {
  right: 0;
}

#account {
  background: url("./images/small-poly-3350169_1920.jpg") center no-repeat;
  background-size: cover;
  display: block;
}
#account #double-section-container {
  margin-top: 20px;
  min-height: 600px;
}
#account #double-section-container #left-section {
  width: 30%;
  position: relative;
  background-color: #fff;
  box-shadow: none;
  z-index: 9999;
  height: 100%;
  min-height: 600px;
}
#account #double-section-container #left-section:before {
  content: "";
  position: absolute;
  right: 0;
  top: 0;
  height: 100%;
  width: 1px;
  opacity: 0.5;
  background-color: #00cca3;
  z-index: 99999;
  padding: 0 10px;
  box-sizing: border-box;
}
#account #double-section-container #left-section #left-section-overlay {
  z-index: -1;
}
#account #double-section-container #left-section h2 {
  position: relative;
}
#account #double-section-container #left-section h2:before {
  content: "";
  width: 100%;
  position: absolute;
  height: 1px;
  background-color: #00cca3;
  top: 45px;
}
#account #double-section-container #right-section {
  width: 63%;
  height: 100%;
  min-height: 600px;
}
#account #double-section-container #right-section .right-section-box-container {
  width: 100%;
  height: 100%;
  flex-wrap: wrap;
}
#account #double-section-container #right-section .right-section-box-container .right-section-box {
  width: 33%;
  min-height: 230px;
}
#account #double-section-container #right-section .right-section-box-container .right-section-box h3 {
  text-align: center;
}
#account #double-section-container #right-section h2 {
  position: relative;
}
#account #double-section-container #right-section h2:before {
  content: "";
  width: 100%;
  position: absolute;
  height: 1px;
  background-color: #00cca3;
  top: 45px;
}
#account #double-box-container {
  margin-top: 150px;
}
#account .account-box {
  position: relative;
  z-index: 9999;
}
#account .account-box:hover .overlay-transition {
  width: 100%;
  z-index: -1;
}
#account .account-box:hover h3 {
  color: #fff;
  z-index: 999;
  transition: 0.5s ease-in-out;
  -webkit-transition: 0.5s ease-in-out;
  -moz-transition: 0.5s ease-in-out;
  -o-transition: 0.5s ease-in-out;
}
#account .account-box:hover p {
  color: #fff;
  transition: 0.5s ease-in-out;
  -webkit-transition: 0.5s ease-in-out;
  -moz-transition: 0.5s ease-in-out;
  -o-transition: 0.5s ease-in-out;
}
#account .account-box .overlay-transition {
  left: 0;
  top: 0;
}

#login {
  height: 100vh;
  width: 100vw;
  box-sizing: border-box;
  background-size: cover;
  background-position: center;
  background-image: url("./images/login_wallpaper.jpg");
  position: fixed;
  top: 0;
  z-index: -1;
}
#login #not-login {
  width: 50%;
  text-align: center;
  margin: 0 auto;
  margin-top: 20px;
}
#login #loginForm {
  width: 100%;
  height: 50%;
}
#login #loginForm input {
  box-sizing: border-box;
  width: 100%;
  display: block;
  padding: 20px;
  border-radius: 40px;
  border: none;
  margin-top: 30px;
  font-size: 16px;
}
#login #loginForm button {
  box-sizing: border-box;
  width: 100%;
  display: block;
  padding: 20px;
  border-radius: 40px;
  border: none;
  margin-top: 40px;
  font-size: 16px;
}
#login #loginForm #form-inner {
  height: 100%;
  width: 50%;
  margin: 0 auto;
}
@media (max-width: 980px) {
  #login #loginForm #form-inner {
    width: 100%;
  }
}
#login:before {
  content: "";
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: #000;
  opacity: 0.5;
}
#login #login-box {
  height: 60%;
  width: 80%;
  max-width: 800px;
  max-height: 550px;
  z-index: 999;
  position: relative;
  padding: 0 50px;
  box-sizing: border-box;
}
@media (max-width: 476px) {
  #login #login-box {
    padding: 0 20px;
    width: 90%;
  }
}
#login #login-box .login-header h1 {
  width: fit-content;
  text-align: center;
  margin: 0 auto;
  border-bottom: 8px solid #fff;
  margin-top: 25px;
  color: #fff;
  text-transform: uppercase;
}
@media (max-width: 980px) {
  #login #login-box .login-header h1 {
    margin: 30px auto 20px auto;
  }
}
#login #login-box #avatar_icon {
  width: 100%;
  font-size: 120px;
  color: #00cca3;
  margin-top: -30px;
}

#registration {
  position: fixed;
  z-index: -1;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;
  background-size: cover;
  background: url("./images/deer-background.jpg") center;
  background-size: cover;
}
#registration .error-div {
  margin: 0 auto;
}
#registration:before {
  content: "";
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: #000;
  opacity: 0.5;
}
#registration #registration-box {
  height: 80%;
  width: 80%;
  max-width: 1200px;
  max-height: 800px;
  margin: 0 auto;
  z-index: 1;
}
@media (max-width: 980px) {
  #registration #registration-box {
    height: auto;
  }
}
#registration #left-column {
  width: 40%;
  background-image: url("./images/turquoise-background.png");
  border-radius: 10px 0 0 10px;
  justify-content: center;
  align-items: center;
  position: relative;
}
#registration #left-column:before {
  content: "";
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: #000;
  opacity: 0.2;
}
@media (max-width: 980px) {
  #registration #left-column {
    width: 100%;
    max-height: 240px;
    border-radius: 10px 10px 0 0;
    text-align: center;
  }
}
#registration #left-column #left-box-inner {
  z-index: 1;
  text-align: center;
  padding: 30px;
  box-sizing: border-box;
}
@media (max-width: 980px) {
  #registration #left-column #left-box-inner {
    z-index: 1;
    width: 100%;
    display: block;
    max-height: 240px;
    border-radius: 10px 10px 0 0;
    text-align: center;
  }
}
#registration #left-column #left-box-inner h2 {
  color: #fff;
}
#registration #left-column #left-box-inner h3 {
  color: #fff;
  font-weight: 300;
}
#registration #left-column #left-box-inner .login-button {
  width: 100%;
  background-color: transparent;
  border: 2px solid #fff;
  color: #fff;
}
@media (max-width: 980px) {
  #registration #left-column #left-box-inner .login-button {
    width: 50%;
    margin: 0 auto;
  }
}
#registration #right-column {
  display: inline-block;
  width: 60%;
  background-color: #fff;
  border-radius: 0 10px 10px 0;
}
@media (max-width: 980px) {
  #registration #right-column {
    width: 100%;
    display: block;
    max-height: 600px;
    border-radius: 0 0 10px 10px;
  }
}
#registration #right-column #registration-inner {
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  width: 100%;
  height: 100%;
  padding: 30px;
  box-sizing: border-box;
}
@media (max-width: 980px) {
  #registration #right-column #registration-inner {
    width: auto;
    height: auto;
  }
}
#registration #right-column #registration-inner .registration-heading h3 {
  font-weight: 300;
}
#registration #right-column #registration-inner #registration-input-box {
  margin-top: 30px;
}
@media (max-width: 980px) {
  #registration #right-column #registration-inner {
    margin-top: 0;
  }
}

/*# sourceMappingURL=styles.css.map */
